<div class="starter-template">

  <p class="lead" "text-center">This is the song that doesn't end</p>
<%= image_tag "doggie.jpg" %>
<p class="text-center">
  <%= link_to 'Next >>', verse_4_path %>
</p>

</div>
