<div class="starter-template">

  <p class="lead" "text-center">Some people, started singing it knot knowing what it was</p>
<%= image_tag "doggie.jpg" %>
<p class="text-center">
  <%= link_to 'Next >>', verse_4_path %>
</p>

</div>
