<div class="starter-template">

  <p class="lead" "text-center">This is the song that doesn't end</p>
<%= image_tag "mqdefault.jpg" %>
<p class="text-center">
  <%= link_to 'Next >>', verse_3_path %>
</p>

</div>
