<div class="starter-template">

  <p class="lead" "text-center">It just goes on and on my friends</p>
<%= image_tag "mqdefault.jpg" %>
<p class="text-center">
  <%= link_to 'Next >>', verse_3_path %>
</p>

</div>
